body{
    background-color: black;
}

.bg-CAVAME{
    background-color: black;
    color: white;
}

.card-CAVAME{
    border: 3px double white;
    background-color: black;
    color: white;
    border-radius:10px;
    transition: all ease-out 0.2s;
}

.card-CAVAME:hover{
  transform: scale(1.05);
}
